@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

html {
    cursor: context-menu;
    font-family: "Audiowide", sans-serif;
    font-style: normal;
    font-size: 62.5%;
}

body {
    background-color: #000;
}

img {
    width: 100%;
}